@import url("./normalize.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --primary-Strong-Cyan: hsl(171, 66%, 44%);
  --primary-Light-Blue: hsl(233, 100%, 69%);
  --primary--grey: rgb(174, 172, 172);

  /* Neutral */

  --neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --neutral-Light-Blue: hsl(233, 100%, 69%);

  /* letter Spacing */

  --letter-spacing: 1.5px;

  /* button margin */
  --margin-button: 0 3rem;
  --button-padding: 1rem 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  width: 100%;
}

@media (width <=600px) {
  /* header */
  header {
    background: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .header--title {
    font-weight: 600;
    padding: 0 2rem;
  }
  .header--image {
    width: 10rem;
    margin: 10rem auto 2rem;
  }
  .header--description {
    font-weight: 400;
    color: var(--primary--grey);
  }
  .buttons--header {
    flex-direction: column;
    display: flex;
  }
  .download--ios {
    letter-spacing: var(--letter-spacing);
    background: var(--primary-Strong-Cyan);
    margin: var(--margin-button);
    padding: var(--button-padding);
  }
  .download--mac {
    background: var(--neutral-Light-Blue);
    letter-spacing: var(--letter-spacing);
    margin: var(--margin-button);
    padding: var(--button-padding);
  }
  /* Main Container */
  .main--container {
    margin: 7rem 0;
  }
  /* Snippet */

  .snippets--main--title {
    text-align: center;
    font-weight: 600;
    padding: 2rem 1.7rem 1rem;
  }
  .snippets--main--description {
    font-weight: 400;
    padding: 0 1rem;
    color: var(--primary--grey);
  }
  .snippets {
    text-align: center;
    padding: 2rem 1rem;
    margin: 4rem 0;
  }
  .snippet--img {
    padding: 0 1rem;
  }
  .snippet-info {
    padding: 4rem 0;
  }
  .snippets--title {
    font-weight: 600;
    padding: 1rem 0;
  }
  .snippet--description {
    color: var(--primary--grey);
    padding: 0 2rem;
  }

  /* Clipboard */

  .clipboard {
    margin: 0 1rem;
  }
  .clipboard--title {
    font-weight: 600;
    text-align: center;
    padding: 0 2rem;
  }
  .clipboard--description {
    color: var(--primary--grey);
    text-align: center;
    padding: 1rem 2rem 2rem;
  }
  .clipboard--image {
    width: 100%;
    margin: auto;
  }
  /* Supercharge */
  .supercharge {
    text-align: center;
  }
  .supercharge--title {
    padding: 0 2rem;
    font-weight: 600;
  }
  .supercharge--description {
    color: var(--primary--grey);
    padding: 1rem 3rem;
  }
}

@media (width >= 600px) {
  /* header */
  header {
    background: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .buttons--header {
    margin: auto;
  }
  .download--ios {
    background: var(--primary-Strong-Cyan);
    letter-spacing: var(--letter-spacing);
    padding: 1rem 2rem;
    margin: 0 1.5rem;
  }
  .download--mac {
    background: var(--primary-Light-Blue);
    letter-spacing: var(--letter-spacing);
    padding: 1rem 2rem;
  }
  .header--image {
    width: 10rem;
    margin: 4rem auto;
  }
  .header--title {
    font-weight: 600;
  }
  .header--description {
    color: var(--primary--grey);
  }

  /* Main Container */

  .main--container {
    margin: 7rem 0;
  }
  .snippets--main--title {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
  }
  /* Snippet */

  .snippets--main--description {
    color: var(--primary--grey);
    padding: 0 3rem;
  }
  .snippets {
    display: flex;
    margin: auto;
    margin: 7rem 2rem 0 0;
    justify-content: space-evenly;
    width: 100%;
  }
  .snippet-info {
    margin: 0;
  }
  .snippet--img {
    max-height: 25rem;
    max-width: 25rem;
    overflow-x: clip;
  }

  .snippets--title {
    font-weight: 400;
    padding-left: 5rem;
  }
  .snippet--description {
    color: var(--primary--grey);
    padding: 0 0 3rem 5rem;
  }
  /* Clipboard Container */

  .clipboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 6rem;

    width: 100%;
  }

  .clipboard--title {
    text-align: center;
    font-weight: 600;
  }
  .clipboard--description {
    text-align: center;
    color: var(--primary--grey);
    max-width: 100%;
    padding: 1rem 5rem 5rem 5rem;
  }
  .clipboard--image {
    width: 35rem;
    height: 25rem;
  }
  .supercharge--description {
    color: var(--primary--grey);
    letter-spacing: var(--letter-spacing);
    padding: 1rem 0;
  }
  .supercharge--title {
    font-weight: 600;
  }
}

@media (width >=1024px) {
  .clipboard--description {
    text-align: center;
    color: var(--primary--grey);
    max-width: 40%;
    padding: 1rem 5rem 5rem 5rem;
  }
}
