@import url("./normalize.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --primary-Strong-Cyan: hsl(171, 66%, 44%);
  --primary-Light-Blue: hsl(233, 100%, 69%);
  --primary--grey: rgb(174, 172, 172);

  /* Neutral */

  --neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --neutral-Light-Blue: hsl(233, 100%, 69%);

  /* letter Spacing */

  --letter-spacing: 1.5px;

  /* button margin */
  --margin-button: 0 3rem;
  --button-padding: 1rem 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
}

@media (width < 600px) {
  /* header */
  header {
    background: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .header--title {
    font-weight: 600;
    padding: 0 2rem;
  }
  .header--image {
    width: 10rem;
    margin: 10rem auto 2rem;
  }
  .header--description {
    font-weight: 400;
    color: var(--primary--grey);
  }
  .buttons--header {
    flex-direction: column;
    display: flex;
  }
  .download--ios {
    letter-spacing: var(--letter-spacing);
    background: var(--primary-Strong-Cyan);
    margin: var(--margin-button);
    padding: var(--button-padding);
  }
  .download--mac {
    background: var(--neutral-Light-Blue);
    letter-spacing: var(--letter-spacing);
    margin: var(--margin-button);
    padding: var(--button-padding);
  }
  /* Main Container */
  .main--container {
    margin: 7rem 0;
  }

  .snippets--title {
    text-align: center;
    font-weight: 600;
    padding: 2rem 1.7rem 1rem;
  }
  .snippets--description {
    font-weight: 400;
    padding: 0 1rem;
    color: var(--primary--grey);
  }
}

@media (width >= 600px) {
  /* header */
  header {
    background: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .buttons--header {
    margin: auto;
  }
  .download--ios {
    background: var(--primary-Strong-Cyan);
    letter-spacing: var(--letter-spacing);
    padding: 1rem 2rem;
    margin: 0 1.5rem;
  }
  .download--mac {
    background: var(--primary-Light-Blue);
    letter-spacing: var(--letter-spacing);
    padding: 1rem 2rem;
  }
  .header--image {
    width: 10rem;
    margin: 4rem auto;
  }
  .header--title {
    font-weight: 600;
  }
  .header--description {
    color: var(--primary--grey);
  }

  /* Main Container */

  .main--container {
    margin: 7rem 0;
  }
  .snippets--title {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
  }
  .snippets--description {
    color: var(--primary--grey);
    padding: 0 3rem;
  }
}

@media (width > 1024px) {
  .snippets--description {
    padding: 0 30%;
  }
}
